* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #f9f9f9;
}

/* ---header--- */

/* ----fixed header--- */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f9f9f9;
  z-index: 1000;
}

/* ---body won't go under header--- */
body {
  padding-top: 110px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 37px 84px;
}

/* ---navigation--- */
.nav {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav a {
  font-weight: 700;
  font-size: 14px;
  color: #262626;
  padding: 8px 16px;
  border-radius: 40px;
  background-color: transparent;
  transition: 0.3s ease;
}

/* ---navigation hover--- */
.nav a:hover {
  background-color: #4ce0d7;
  transform: rotate(3deg);
}

.logo img,
.search {
  transition: transform 0.3s ease;
}

.logo img:hover,
.search:hover {
  transform: scale(1.1);
}
