* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #f9f9f9;
}

/* ---header--- */

/* ----fixed header--- */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f9f9f9;
  z-index: 1000;
}

/* ---body won't go under header--- */
body {
  padding-top: 110px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 37px 84px;
}

/* ---navigation--- */
.nav {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav a {
  font-weight: 700;
  font-size: 14px;
  color: #262626;
  padding: 8px 16px;
  border-radius: 40px;
  background-color: transparent;
  transition: 0.3s ease;
}

/* ---navigation hover--- */
.nav a:hover {
  background-color: #4ce0d7;
  transform: rotate(3deg);
}

.logo img,
.search {
  transition: transform 0.3s ease;
}

.logo img:hover,
.search:hover {
  transform: scale(1.1);
}
/* ---fashion picture and text--- */

.fashion {
  display: flex;
  justify-content: center;
  margin-top: 133px;
  padding-bottom: 73px;
}

.fashion-image {
  width: 1272px;
  height: 559px;
  background-image: url("./assets/main picture.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
  position: relative;
  color: #ffffff;
  transition: 0.3s;
}
.fashion-image:hover {
  transform: scale(1.05);
}
/* ---text position--- */
.fashion-content {
  position: absolute;
  left: 57px;
  top: 218px;
  color: #fff;
}
/* ---small title--- */
.fashion-content h3 {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.23em;
  margin-bottom: 22px;
}
/* ---main title--- */
.fashion-content h1 {
  font-size: 46px;
  font-weight: 400;
  line-height: 100%;
  margin-bottom: 19px;
  max-width: 627px;
}

/* ---text paragraph--- */
.fashion-content p {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.6;
  max-width: 494px;
}

/* ---Transitional color--- */
.text-colour {
  font-weight: 700;
  background: linear-gradient(90deg, #4ce0d7 0%, #8ba9f4 100%);
  -webkit-background-clip: text;
  color: transparent;
}